html,
body {
    height: 100%;
}

.form-signin {
    max-width: 400px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 0;
}
